@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 17, 24, 39;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  min-height: 100vh;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary via-secondary to-accent;
  }
}
